<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/viewLayout::fragment(~{this::title}, ~{this::section})">

<head>
	<title>Book search by ISBN view</title>
</head>

<body>
	<section>
		<header th:replace="shared/fragment/parametric/header::fragment(
			'Book search by ISBN form',
			'Insert the ISBN-13 of the book you want to retrieve from the database')">
		</header>
		<div class="container my-5 text-center">
			<form name="search-book-by-isbn-form"
				th:action="@{/book/getByIsbn}" method="get" th:object="${bookData}">
				<div class="form-group">
					<label id="isbn-label">ISBN-13</label>
					<input class="form-control form-control-lg text-center"
						required type="text" name="isbn" th:field="*{isbn}"
						placeholder="e.g. 9781401238964"/>
				</div>
				<div class="form-group pt-3"
					th:include="shared/fragment/parametric/formButton::fragment('fa-search', 'Book search')">Placeholder for search form button</div>
			</form>
		</div>
	</section>
</body>

</html>