<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/viewLayout::fragment(~{this::title}, ~{this::section})">

<head>
	<title>Book edit view</title>
</head>

<body>
	<section>
		<header th:replace="shared/fragment/parametric/header::fragment(
 			'Book edit form',
 			'Edit book title and authors')">
		</header>
		<div class="container my-5 text-center">
			<form name="edit-book-form"
				th:action="@{/book/save}" method="post" th:object="${bookData}">
				<div class="form-group">
					<input type="hidden" th:field="*{isbn}"/>
				</div>
				<div class="form-group">
					<label id="title-label">Title</label>
					<input class="form-control form-control-lg text-center"
						required type="text" th:name="title" th:field="*{title}"
						placeholder="e.g. Watchmen"/>
				</div>
				<div class="form-group">
					<label id="authors-label">Authors</label>
					<input class="form-control form-control-lg text-center"
						required type="text" th:name="authors" th:field="*{authors}"
						placeholder="e.g. Alan Moore, Dave Gibbons"/>
				</div>
				<div class="form-group pt-3"
					th:include="shared/fragment/parametric/formButton::fragment('fa-save', 'Save edit')">Placeholder for button</div>
			</form>
		</div>
	</section>
</body>

</html>