<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/viewLayout::fragment(~{this::title}, ~{this::section})">

<head>
	<title>Book new view</title>
</head>

<body>
	<section>
		<header th:replace="shared/fragment/parametric/header::fragment(
			'Book new form',
			'Insert book data to create a new book')">
		</header>
		<div class="container my-5 text-center">
			<form name="new-book-form"
				th:action="@{/book/add}" method="post" th:object="${bookData}">
				<div class="form-group">
					<label id="isbn-label">ISBN-13</label>
					<input class="form-control form-control-lg text-center"
						required type="text" name="isbn"
						placeholder="e.g. 9781401238964"/>
				</div>
				<div class="form-group">
					<label id="title-label">Title</label>
					<input class="form-control form-control-lg text-center"
						required type="text" name="title"
						placeholder="e.g. Watchmen"/>
				</div>
				<div class="form-group">
					<label id="authors-label">Authors</label>
					<input class="form-control form-control-lg text-center"
						required type="text" name="authors"
						placeholder="e.g. Alan Moore, Dave Gibbons"/>
				</div>
				<div class="form-group pt-3"
					th:include="shared/fragment/parametric/formButton::fragment('fa-plus', 'Add book')">Placeholder for button</div>
			</form>
		</div>
	</section>
</body>

</html>