<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/viewLayout::fragment(~{this::title}, ~{this::section})">

<head>
	<title>Book search by ISBN view</title>
</head>

<body>
	<section>
		<header th:replace="shared/fragment/parametric/header::fragment(
			'Book search by ISBN form',
			'Insert the ISBN-13 of the book you want to retrieve from the database')">
		</header>
		<div class="container my-5 text-center">
			<form name="search-book-by-isbn-form"
				th:action="@{/book/getByIsbn}" method="get" th:object="${bookData}">
				<div class="form-group">
					<label id="isbn-label">ISBN-13</label>
					<input class="form-control form-control-lg text-center"
						required type="text" name="isbn" th:field="*{isbn}"
						placeholder="e.g. 9781401238964"/>
					<div class="alert alert-warning" id="isbn-validation-error"
						th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Placeholder for validation error</div>
				</div>
				<div class="form-group pt-3"
					th:include="shared/fragment/parametric/formButton::fragment('fa-search', 'Book search')">Placeholder for search form button</div>
			</form>
		</div>
		<div th:unless="${books}">
			<div th:replace="shared/fragment/parametric/advice::fragment(~{this::#card-title}, ~{this::#card-content})">
					<div id="card-title">Understand how ISBN-13 works</div>
					<div id="card-content">
						<a class="card-link"
							href="https://www.isbn-international.org/content/what-isbn"
							target="_blank" rel="noopener">What is a ISBN-13?</a>
						<a class="card-link" 
							href="https://en.wikipedia.org/wiki/International_Standard_Book_Number#ISBN-13_check_digit_calculation"
							target="_blank" rel="noopener">How ISBN-13 validation works?</a>
						<a class="card-link" 
							href="https://isbndb.com/"
							target="_blank" rel="noopener">How do I find out the ISBN-13 of a book?</a>
					</div>
			</div>
		</div>
	</section>
</body>

</html>