<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/viewLayout::fragment(~{this::title}, ~{this::section})">

<head>
	<title>Unknown error view</title>
</head>

<body>
	<section>
		<header th:replace="shared/fragment/parametric/header::fragment(
			'Something went wrong',
 			'We do not know what but we are going to work on it!')">
		</header>
		<div th:replace="shared/fragment/non-parametric/errorInfo::fragment">Placeholder for error-info-box</div>
		<div th:replace="shared/fragment/parametric/advice::fragment(~{this::#card-title}, ~{this::#card-content})">
					<div id="card-title">Be patience and try to understand the HTTP status code</div>
					<div id="card-content">
						<a class="card-link"
							href="https://httpstatuses.com/"
							target="_blank" rel="noopener">What does the returned status code mean?</a>
					</div>
		</div>
	</section>
</body>
</html>