<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/viewLayout::fragment(~{this::title}, ~{this::section})">

<head>
	<title>Unknown error view</title>
</head>

<body>
	<section>
		<header th:replace="shared/fragment/parametric/header::fragment(
			'Something went wrong',
 			'We do not know what but we are going to work on it!')">
		</header>
		<div id="error-info-box" 
			class="container my-5 text-center">
			<div class="card-group">
				<div class="card border-danger">
					<div class="card-header">Status</div>
					<div class="card-body text-danger">
						<p class="card-text" id="error-code" th:text="${status}">Placeholder for error code</p>
					</div>
				</div>
				<div class="card border-danger">
					<div class="card-header">Error</div>
					<div class="card-body text-danger">
						<p class="card-text" id="error-reason" th:text="${error}">Placeholder for error reason</p>
					</div>
				</div>
				<div class="card border-danger">
					<div class="card-header">Message</div>
					<div class="card-body text-danger">
						<p class="card-text" id="error-message" th:text="${message}">Placeholder for error message</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>